@import url('/fonts/iransans/iransans.css');
@import url('/fonts/rubik/rubik.css');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .navbarActive {
        background-color: var(--color-bg-input);
    }
}

:root {
    --color-bg-primary: rgba(255, 255, 255, 1); /* #FFFFFF */
    --color-text-primary: rgba(38, 36, 36, 1); /* #262424 */
    --color-text-secondary: rgba(96, 96, 96, 1); /* #606060 */
    --color-border: rgba(217, 217, 217, 1); /* #D9D9D9 */
    --color-bg-input: rgba(244, 244, 244, 1); /* #F4F4F4 */

    --color-success: rgba(34, 197, 94, 1); /* #22C55E */
    --color-warning: rgba(255, 193, 7, 1); /* #FFC107 */
    --color-error: rgba(239, 68, 68, 1); /* #EF4444 */
}
